<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAsyncService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISuperCalc" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IComplexCalc" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5001/AsyncService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAsyncService" contract="AsyncServiceRef.IAsyncService"
                name="BasicHttpBinding_IAsyncService" />
            <endpoint address="http://localhost:10003/SuperCalc/endpoint3"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISuperCalc"
                contract="SuperCalcRef.ISuperCalc" name="WSDualHttpBinding_ISuperCalc">
                <identity>
                    <userPrincipalName value="DESKTOP-3JGTB35\epenl" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10000/ComplexCalc/endpoint"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IComplexCalc"
                contract="CCalcRef.IComplexCalc" name="WSHttpBinding_IComplexCalc">
                <identity>
                    <userPrincipalName value="DESKTOP-V0H7987\epenl" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>