<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ICars"/>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:61497/Service1.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICars" contract="CarsService.IRestService" name="WSHttpBinding_ICars">
				<identity>
					<userPrincipalName value="DOMAF\Adsuro"/>
				</identity>
			</endpoint>

		</client>
	</system.serviceModel>
</configuration>